<library>
	<name>Attachment Library</name>
	<folder>
		<path>bin</path>
		<hidden>yes</hidden>
	</folder>
	<folder>
		<path>data</path>
		<hidden>yes</hidden>
	</folder>
	<folder>
		<path>dict</path>
		<hidden>yes</hidden>
	</folder>
	<folder>
		<path>temp</path>
		<hidden>yes</hidden>
	</folder>
	<attachment>
		<path>file.doc</path>
		<title>Title text goes here</title>
		<class>external</class>
		<newWindow>yes</newWindow>
		<icon></icon>
		<hidden>no</hidden>
	</attachment>
</library>

