<directory>
	<rule>
		<id></id>
		<script>
			<![CDATA[
			//Example of creating groups which appear as folders in XStandard interface.
			$directory->add_container("Staff", "a", "", "", "users");
			$directory->add_container("Products", "b");
			$directory->add_container("Special Characters & Symbols", "c", "", "directory-xhtml-entities.xml");
			$directory->add_container("Placeholders", "d", "", "", "flag");
			]]>
		</script>
	</rule>
	<rule>
		<id>a</id>
		<script>
			<![CDATA[
			//This is an example of how to fetch data from a CSV file and format it into XHTML.
			$row = 0;
			$name = "";
			$xhtml = "";
			$icon = "";
			
			if (!($handle = @fopen("directory_example_staff.csv", "r")) === false) {
				while ($data = fgetcsv($handle, 1000, ",")) {
					$row++;
					if($row > 1) {
						$name = $data[1] . " " . $data[2];
						$xhtml = "<a href=\"staff.php?id=" . $data[0] . "\">" . $name . "</a> <a href=\"mailto:" . $data[3] . "\"><img src=\"http://xstandard.com/images/mail.gif\" width=\"16\" height=\"16\" alt=\"Email: " . $name . "\" /></a>";
						if ($data[4] == "M") {
							$icon = "user-male";
						} else if ($data[4] == "F") {
							$icon = "user-female";
						} else {
							$icon = "";
						}
						$directory->add_object($name, $xhtml, $icon);
					}
				}
				fclose($handle);
			}
			]]>
		</script>
	</rule>
	<rule>
		<id>b</id>
		<script>
			<![CDATA[
			//This is an example of how to read XHTML from a file.
			$directory->add_object("Cordless Phone", $directory->read_from_file("directory-example-product-1.txt"));
			$directory->add_object("Hand Vacuum", $directory->read_from_file("directory-example-product-2.txt"));
			$directory->add_object("Toaster", $directory->read_from_file("directory-example-product-3.txt"));
			$directory->add_object("Indoor Grill", $directory->read_from_file("directory-example-product-4.txt"));
			]]>
		</script>
	</rule>
	<rule>
		<id>d</id>
		<script>
			<![CDATA[
			//This is an example of how create XHTML on the fly.
			$directory->add_object("Temperature", "<p>The current temperature in Vancouver is <temperature location=\"Vancouver, BC, Canada\" title=\"Placeholder for temperature.\"/>.</p>", "thermometer");
			$directory->add_object("Stock Price", "<p>The current stock price for IBM is <stock symbol=\"IBM\" exchange=\"NYSE\" title=\"Placeholder for stock price.\" />.</p>", "certificate");
			]]>
		</script>
	</rule>
</directory>