<library>
	<name>Image Library</name>
	<folder>
		<path>bin</path>
		<hidden>yes</hidden>
	</folder>
	<folder>
		<path>data</path>
		<hidden>yes</hidden>
	</folder>
	<folder>
		<path>dict</path>
		<hidden>yes</hidden>
	</folder>
	<folder>
		<path>temp</path>
		<hidden>yes</hidden>
	</folder>
	<image>
		<path>file.png</path>
		<decorative>no</decorative>
		<alt>Alt goes here</alt>
		<title>Title text goes here</title>
		<longdesc>http://myserver/longdesc.htm</longdesc>
		<class></class>
		<icon></icon>
		<hidden>no</hidden>
	</image>
</library>
