<?xml version="1.0" encoding="ISO-8859-1"?>
<spellChecker>
	<dictionary>
		<name xml:lang="en">Danish</name>
		<name xml:lang="da">Dansk</name>
		<name xml:lang="de">Dänisch</name>
		<name xml:lang="es">Danés</name>
		<name xml:lang="fr">Danois</name>
		<name xml:lang="it">Danese</name>
		<name xml:lang="nl">Deens</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Dinamarquês</name>
		<name xml:lang="sv">Dansk</name>
		<code>da</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">German</name>
		<name xml:lang="da">Tysk</name>
		<name xml:lang="de">Deutsch</name>
		<name xml:lang="es">Alemán</name>
		<name xml:lang="fr">Allemand</name>
		<name xml:lang="it">Tedesco</name>
		<name xml:lang="nl">Duits</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Alemão</name>
		<name xml:lang="sv">Tysk</name>
		<code>de</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">English</name>
		<name xml:lang="da">Engelsk</name>
		<name xml:lang="de">Englisch</name>
		<name xml:lang="es">Inglés</name>
		<name xml:lang="fr">Anglais</name>
		<name xml:lang="it">Inglese</name>
		<name xml:lang="nl">Engels</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Inglês</name>
		<name xml:lang="sv">Engelsk</name>
		<code>en</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">English (CA)</name>
		<name xml:lang="da">Engelsk (CA)</name>
		<name xml:lang="de">Englisch (CA)</name>
		<name xml:lang="es">Inglés (CA)</name>
		<name xml:lang="fr">Anglais (CA)</name>
		<name xml:lang="it">Inglese (CA)</name>
		<name xml:lang="nl">Engels (CA)</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Inglês (CA)</name>
		<name xml:lang="sv">Engelsk (CA)</name>
		<code>en-ca</code>
		<jargon>w-accents</jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>yes</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">English (GB)</name>
		<name xml:lang="da">Engelsk (GB)</name>
		<name xml:lang="de">Englisch (GB)</name>
		<name xml:lang="es">Inglés (GB)</name>
		<name xml:lang="fr">Anglais (GB)</name>
		<name xml:lang="it">Inglese (GB)</name>
		<name xml:lang="nl">Engels (GB)</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Inglês (GB)</name>
		<name xml:lang="sv">Engelsk (GB)</name>
		<code>en-gb</code>
		<jargon>w-accents</jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>yes</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">English (US)</name>
		<name xml:lang="da">Engelsk (US)</name>
		<name xml:lang="de">Englisch (US)</name>
		<name xml:lang="es">Inglés (US)</name>
		<name xml:lang="fr">Anglais (US)</name>
		<name xml:lang="it">Inglese (US)</name>
		<name xml:lang="nl">Engels (US)</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Inglês (US)</name>
		<name xml:lang="sv">Engelsk (US)</name>
		<code>en-us</code>
		<jargon>w-accents</jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>yes</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">Spanish</name>
		<name xml:lang="da">Spansk</name>
		<name xml:lang="de">Spanisch</name>
		<name xml:lang="es">Español</name>
		<name xml:lang="fr">Espagnol</name>
		<name xml:lang="it">Spagnolo</name>
		<name xml:lang="nl">Spaans</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Espanhol</name>
		<name xml:lang="sv">Spansk</name>
		<code>es</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">French</name>
		<name xml:lang="da">Fransk</name>
		<name xml:lang="de">Französisch</name>
		<name xml:lang="es">Francés</name>
		<name xml:lang="fr">Français</name>
		<name xml:lang="it">Francese</name>
		<name xml:lang="nl">Frans</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Francês</name>
		<name xml:lang="sv">Fransk</name>
		<code>fr</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">Italian</name>
		<name xml:lang="da">Italiensk</name>
		<name xml:lang="de">Italienisch</name>
		<name xml:lang="es">Italiano</name>
		<name xml:lang="fr">Italien</name>
		<name xml:lang="it">Italiano</name>
		<name xml:lang="nl">Italiaans</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Italiano</name>
		<name xml:lang="sv">Italiensk</name>
		<code>it</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">Dutch</name>
		<name xml:lang="da">Hollandsk</name>
		<name xml:lang="de">Holländisch</name>
		<name xml:lang="es">Holandés</name>
		<name xml:lang="fr">Hollandais</name>
		<name xml:lang="it">Olandese</name>
		<name xml:lang="nl">Hollands</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Holandês</name>
		<name xml:lang="sv">Holländsk</name>
		<code>nl</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">Norwegian</name>
		<name xml:lang="da">Norsk</name>
		<name xml:lang="de">Norwegisch</name>
		<name xml:lang="es">Noruego</name>
		<name xml:lang="fr">Norvégien</name>
		<name xml:lang="it">Norvegese</name>
		<name xml:lang="nl">Noors</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Norueguês</name>
		<name xml:lang="sv">Norsk</name>
		<code>no</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">Portuguese</name>
		<name xml:lang="da">Portugisisk</name>
		<name xml:lang="de">Portugiesisch</name>
		<name xml:lang="es">Portugués</name>
		<name xml:lang="fr">Portugais</name>
		<name xml:lang="it">Portoghese</name>
		<name xml:lang="nl">Portugees</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Português</name>
		<name xml:lang="sv">Portugisisk</name>
		<code>pt</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
	<dictionary>
		<name xml:lang="en">Swedish</name>
		<name xml:lang="da">Svensk</name>
		<name xml:lang="de">Schwedisch</name>
		<name xml:lang="es">Sueco</name>
		<name xml:lang="fr">Suédois</name>
		<name xml:lang="it">Svedese</name>
		<name xml:lang="nl">Zweeds</name>
		<name xml:lang="no">TODO</name>
		<name xml:lang="pt">Sueco</name>
		<name xml:lang="sv">Svensk</name>
		<code>sv</code>
		<jargon></jargon>
		<size>60</size>
		<stopCheckWordMin>15</stopCheckWordMin>
		<stopCheckPercentErrors>50</stopCheckPercentErrors>
		<available>no</available>
	</dictionary>
</spellChecker>
